/* applies to GIF and PNG images; avoids blurry edges */

img[src$=".gif"], img[src$=".png"] {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    image-rendering: crisp-edges;
}
@font-face{ 
    	font-family: 'eWorldTight_18';
	/*src: url('eWorldTight_18.ttf') format('truetype');*/
	src: url('eWorldTight_18.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body:link, body:visited, table:link, table:visited {
  font-family: 'eWorldTight_18', cursive, sans-serif;
  font-size: 18px;
}
body, table {
  font-family: 'eWorldTight_18', serif, sans-serif;
  font-size: 18px;
}